*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Poppins, sans-serif;
}

.gray{
  color: #918E9B;
}

.bold{
  font-weight: bold;
}

/* nav */
.navbar{
  width: 550px;
  height: 70px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.navbar--image{ 
  margin: 22px 30px;
}

/* hero */
.hero{
  display: flex;
  flex-direction: column;
}

.hero--image{
  margin-top: 26px;
  max-width: 400px;
  align-self: center;
}

.hero--header{
  margin: 32px 0 16px 36px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
}

.hero--text{
  margin: 0 0 49px 36px;
  width: 320px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
}

/* cards */
.cards{
  margin: 0 0 30px 36px;
  display: flex;
  gap: 18px;
}

.card{
  width: 177px;
  height: 302px;
}

.card--top{
  position: relative;
}

.card--status{
  /* visuals */
  width: 61px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 2px;
  font-size: 10.24px;
  line-height: 110%;
  /* positioning on page */
  position: absolute;
  left: 6px;
  top: 6px;
  z-index: 1000;
  /* centering */
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.card--image{
  width: 176px;
  height: 235px;
}

.card--bottom{
  margin-top: 9px;
  width: 176px;
  height: 58px;
}

.card--bottom{
  font-size: 12px;
}

.card--bottom > p{
  margin-block: 8px;
}

.card--star{
  width: 14px;
}
